<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 674174620149314;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  

  <form id="form" method="post" action="https://trainingcenterfinder.herokuapp.com/addjob/" class="bg-primary text-white"><br>
  <h1 style="color:white; text-align:center; font-size:26px; font-weight: bold;">Add Job</h1><br>
  <div class="form-group">
    <label for="name" style="font-weight: bold; color:white; text-align:center;">Company Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" style="width:375px; margin-left:5px;">    
  </div>

   <div class="form-group">
    <label for="agent_id" style="font-weight: bold; color:white; text-align:center;">Company ID:</label>
    <input type="text" class="form-control" id="agent_id" name="agent_id" placeholder="Enter your  id" style="width:375px; margin-left:5px;">    
  </div>
 
  <div class="form-group">
    <label for="title" style="font-weight: bold; color:white; text-align:center;">Job title:</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter your title" style="width:375px; margin-left:5px;">    
  </div>
  <div class="form-group">
    <label for="require" style="font-weight: bold; color:white; text-align:center;">Job Requirements:</label>
    <input type="text" class="form-control" id="require" name="require" placeholder="require" style="width:375px; margin-left:5px;">
  </div> 
<div class="form-group">
    <label for="apply" style="font-weight: bold; color:white; text-align:center;">How to apply:</label>
    <input type="email" class="form-control" id="apply" name="apply" placeholder="apply" style="width:375px; margin-left:5px;">
  </div> 
  <div class="form-group">
    <label for="hot" style="font-weight: bold; color:white; text-align:center;">Hotline:</label>
    <input type="text" class="form-control" id="hot" name="hot" placeholder="hot" style="width:375px; margin-left:5px;">
  </div> 
  <div class="form-group">
    <label for="location" style="font-weight: bold; color:white; text-align:center;">Job location:</label>
    <input type="text" class="form-control" id="location" name="location" placeholder="location" style="width:375px; margin-left:5px;">
  </div> <br>
  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  <input type="submit" value="Add" type="button" class="btn btn-light" style="margin-left: 55px;   padding: 10px 24px;  text-align: center; text-decoration: none; display: inline-block; margin: 4px 2px; width:120px; margin-left: 144px;"> <br><br>
  </form>


  
  <script>
      
   
      const windowShut = () => {
   
          MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);       

      /*
      const postFormData = (data) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
      } */

     

  </script>

  </body>

</html>