<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 674174620149314;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  
 

  <form id="form" method="post" action="https://trainingcenterfinder.herokuapp.com/register/" class="bg-primary text-white" ><br>
  <h1 style="color:white; text-align:center; font-size:26px; font-weight: bold;">Register</h1><br>
  <div class="form-group">
    <label for="name" style="font-weight: bold; color:white; text-align:center;">Training center Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter company name" style="width:400px;">    
  </div>
  <div class="form-group">
    <label for="email" style="font-weight: bold; color:white; text-align:center;">Email:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" style="width:400px;">
  </div> 

  <div class="form-group">
    <label for="phone" style="font-weight: bold; color:white; text-align:center;">Ph Number:</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your Phone" style="width:400px;">
  </div><br>
  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
 <div class="container"> <input type="submit" value="Submit" type="button" class="btn btn-outline-info" style="margin-left: 55px;  background-color: #008CBA; color: white; padding: 10px 24px;  text-align: center; text-decoration: none; display: inline-block; margin: 4px 2px; margin-left: 124px; width=10px;"></div> <br>
  </form>


  
  <script>
      
   
      const windowShut = () => {
   
          MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);       

      /*
      const postFormData = (data) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
      } */

     

  </script>

  </body>

</html>