<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 674174620149314;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };
  </script>
  


  <form id="form" method="post" action="https://trainingcenterfinder.herokuapp.com/STCW/" class="bg-primary text-white"><br>
 <h1 style="color:white; text-align:center; font-size:26px; font-weight: bold;">Add Course</h1><br>
  <div class="form-group">
    <label for="name" style="font-weight: bold; color:white; text-align:center;">Training center Name:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" style="width:375px; margin-left:5px;">    
  </div><br>

   <div class="form-group">
    <label for="id" style="font-weight: bold; color:white; text-align:center;">Training center ID:</label>
    <input type="text" class="form-control" id="id" name="id" placeholder="Enter your training center id" style="width:375px;margin-left:5px;">    
  </div>
 
  <div class="form-group">


   <label for="courses" style="font-weight: bold; color:white;">Courses Name:</label>
    <input type="text" class="form-control" id="courses" name="courses" placeholder="Enter your courses" style="width:375px;margin-left:5px;">    
  </div>
  <div class="form-group">
    <label for="date" style="font-weight: bold; color:white; text-align:center;">Open date:</label>
    <input type="date" class="form-control" id="date" name="date" placeholder="date" style="width:375px;margin-left:5px;">
  </div> 

  <div class="form-group">
    <label for="end" style="font-weight: bold; color:white; text-align:center;">End date:</label>
      <input type="date" class="form-control" id="end" name="end" placeholder="end" style="width:375px;margin-left:5px;">
  </div>
  <div class="form-group">
    <label for="detail" style="font-weight: bold; color:white; text-align:center;">Course Detail:</label>
      <input type="text" class="form-control" id="detail" name="detail" placeholder="detail" style="width:375px;margin-left:5px;">
  </div>
   <div class="form-group">
    <label for="duration" style="font-weight: bold; color:white; text-align:center;">Duration:</label>
      <input type="text" class="form-control" id="duration" name="duration" placeholder="duration" style="width:375px;margin-left:5px;">
  </div>
  <div class="form-group">
    <label for="price" style="font-weight: bold; color:white; text-align:center;">Course Price:</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="price" style="width:375px;margin-left:5px;">
  </div>
    <div class="form-group">
    <label for="address" style="font-weight: bold; color:white; text-align:center;">Training Center Address:</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="address" style="width:375px;margin-left:5px;">
  </div><br>
  <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  <input type="submit" value="Add" type="button" class="btn btn-light" style="margin-left: 55px;   padding: 10px 24px;  text-align: center; text-decoration: none; display: inline-block; margin: 4px 2px; width:120px; margin-left: 144px;"> <br><br>
  </form>


  
  <script>
      
   
      const windowShut = () => {
   
          MessengerExtensions.requestCloseBrowser(function success() {
          console.log("success");          
        }, function error(err) {
          console.log(err);
        });
        }
      
      document.getElementById("form").addEventListener("submit", windowShut);       

      /*
      const postFormData = (data) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data)); 
      } */

     

  </script>

  </body>

</html>