<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>STCW courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    	.course{
    		width:370px;   
    		border:1px solid black;
        background-color: lightblue;
         		
    	}
    	
    </style>
 </head>

  <body>
  <h1>Review</h1>
  

  

  
    <div class="course">
<% data.forEach(function(review){ %>
      <h3>User Name:  <%= review.name %></h3>
      <p>Training Center Name: <%= review.tc %><p>
      <p>  Review: <textarea  name="w3review" rows="7" cols="44" style="background-color: lightblue; border-color:black;text-align: justify;"><%= review.review %>  </textarea><p>
    


  

 <% }); %>
  

  

	    
  	</div>

     
 
  

  

 </body>

</html>